<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
</head>
<body>
    <h1><%= product.name %></h1>
    <ul>
        <li>Price : <%= product.price %></li>
        <li>Category : <a href="/products?category=<%= product.category %>"><%= product.category %></a></li>
    </ul>
    <a href="/products"> All Products </a>
    <a href="/products/<%= product._id %>/edit"> Edit Product</a>
    <form action="/products/<%= product._id %>?_method=DELETE" method="POST"> <!-- delete 요청을 보내기 위해서 form + methodoverrid 사용 -->
        <button> Delete</button>
    </form>
    
</body>
</html>